    *{
        color: red;
    }
    
    header {
        background: black;
    }
    body {
    margin: auto;
    width: 1000px;
    background: white;
    font: 20px Arial;
    }
    main {
    float: left;
    min-height:300px;
    padding: 25px;
    width: 700px;
    text-align: center;
    }
    nav{
    float: left;
    min-height:300px;
    padding: 25px;
    width: 200px;
    }
    aside{
    text-align: right;
    }
    aside span {
    position: relative;
    animation: aside1 5s alternate infinite;
    }
    footer {
    clear: left;
    text-align: right;
    }
